.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .image-container {
    border-radius: 25px;
    width: 500px;
    height: 500px;
    margin: 50px;
    overflow: hidden;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  body {
    background-color: rgb(46, 21, 21);
  }
  